@{
    ViewBag.Title = "Not-main worker page";
}

<h1>Системата се намира под "Workers"</h1> <br />
<h2>Използван database: Entity Framework</h2> <br />    
<h2>При случай в който "Workers" не работи моля направете следното:  Build -> Clean solution</h2>